.loginPageWrapper {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      #eeebff 69.79%,
      #ebe8ff 99.99%,
      #e1deff 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .loginContainer {
    width: 30%;
    background-color: var(--white-color);
    /* height: 500px; */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }